*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;

}
.top_content_box{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.full_content{
    min-height: 768px;
    background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
    flex-grow: 1;
    margin-bottom: 64px;
}
.menu{
    display: flex;
    justify-content: space-between;
    margin-top: 42px;
}
.block{
    border: 1px solid black;
    width:350px;
    height: 250px;
    margin-left: 50px;
    margin-top: 20px;
    padding: 20px 30px;
    box-sizing: border-box;
    float: left;
}
.text_area{
    color: red;
}
.text{
    font-size: 16px;
    line-height: 26px;
    color: #1f3f68;
    letter-spacing: 0.05em;
    opacity: 0.6;
}
.text_card{
    width: 268.31px;
    margin-bottom: 30px;
}
.project_text{
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 64px;
    right: 64px;
}
.ptext_1{
    font-size: 32px;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: absolute;
    top: 32px;
    left: 32px;
}
.index_button{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    padding: 15px 50px;
    text-decoration: none;
    display: inline-block;
    margin-top: 71px;
}
.heading1{
    font-size: 64px;
    color: #1f3f68;
    width: 510px;
    font-weight: 300;
    line-height: 74px;
    letter-spacing: 0.04em;
    margin-bottom: 32px;
}
.heading2{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}
.heading3{
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #000000;
}
.heading4{
    font-size: 20px;
    line-height: 30px;
    color: #1f3f68;
    letter-spacing: 0.05em;
    margin-bottom: 14px;
}
.text_content{
    width: 75%;
    color: #222222;
    margin: 32px auto 64px;
    opacity: 1;
    text-align: center;
}
.card_link{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;

}
.order_parent{
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.order_site_parent{
    position: relative;
    flex-grow: 1;
}
.photo{
    align-self: center;
    padding-bottom: 51px;
}
.item_margin{
    margin-right: 32px;
}
.input{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}
.button{
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}
.card{
    width: 359px;
    padding: 44px 32px;
    box-sizing: border-box;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
}
.full_card{
    display: flex;
    justify-content: space-around;
    margin-top: 64px;
    flex-wrap: wrap;
}
.order_site_item{
    position: relative;
}
.order_site_image{
    width: 100%;
}
.order_site_image1{
    margin-right: 32px;
}

.top_footer_content{
    padding-top: 91px;
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: right center;
}
.full_head{
    width: 340px;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-bottom: 32px;
    text-align: left;
}
.list{
    display: flex;
    justify-content: space-around
}
.top_heading{
    margin-top: 115px;
    flex-grow: 1;
    background-image: url(img/illustration.svg);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 44%;
}
.full_footer{
    background: #316099;
    margin-top: 112px;
    padding-bottom: 64px;
    padding-top: 91px;
}
.top_footer{
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_link{
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #fff;
    padding: 15px 80px;
    background: #5A98D0;
    text-decoration: none;
}
.footer_text{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #fff;
    opacity: 0.6;
    padding-bottom: 96px;
}

.list_item{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    list-style-type: none;
    margin-top: 64px;
}
.text_rights{
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 64px;
    padding-bottom: 64px;
    margin-left: 125px;
}
.hr{
    margin-top: 96px;
}
.top_text{
    width: 425px;
}

@media (max-width: 1024px) {
    .container{
        padding-left: 32px;
        padding-right: 32px;
    }
    .top_heading{
        background-position: right 160px;
    }
    .full_card{
        flex-direction: column;
        align-items: center;
    }
    .card{
        margin-bottom: 32px;
    }
    .top_footer_content{
        padding-top: 47px;
    }
    .footer_link{
        padding: 4px 31px;
    }
    .full_footer{
        margin-top: 112px;
        padding-top: 48px;
    }
    .footer_text{
        width: 340px;
        margin-bottom: 32px;
        text-align: left;
        color: #fff;
    }
    .list{
    flex-direction: column;
    margin-bottom: 24px;
    }
    .hr{
        margin-bottom: 64px;
    }
    .list{
        display: inline;
    }
    .list_item{
        margin-top: 24px;
    }
    .text_rights{
        margin-top: 64px;;
    }
}
@media (max-width: 667px) {
    .menu{
        padding-top: 24px;
    }
    .heading1{
        width: 100%;
        font-weight: 300;
        font-size: 32px;
        line-height: 37px;
        text-align: center;
        margin-bottom: 12px;
    }
    .top_text{
        width: 100%;
    }
    .top_heading{
        padding-top: 36px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: none;
    }
    .index_button{
        font-size: 12px;
        line-height: 26px;
        padding: 0 8px;
    }
    .full_content{
        min-height: 376px;
        padding-bottom: 41px;
        box-sizing: border-box;
    }
    .middle_head{
        font-size: 24px;
        line-height: 28px;
    }
    .full_card{
        padding-top: 32px;
    }
    .card{
        width: 100%;
    }
    .text_content{
        width: 100%;
    }
    .project_text{
        font-size: 16px;
        line-height: 19px;
        top: 16px;
        right: 16px;
    }
    .ptext_1{
        left: 16px;
        font-size: 16px;
        line-height: 19px;
    }
    .order_parent{
        display: flex;
        flex-direction: column;
        margin-top: 16px;
    }
    .item_margin{
        margin-right: 0;
        margin-bottom: 16px;
    }
    .top_footer{
        flex-direction: column;
        padding-bottom: 41px;
        width: 75%;
    }

    .full_head{
        text-align: center;
        margin: 0 auto 32px;
        width: 75%;
    }
    .footer_text{
        text-align: center;
        margin-bottom: 40px;
        width: 75%;
}
    .footer_link{
        font-size: 12px;
        line-height: 26px;
    }
    
    .top_footer_content{
        width: 100%;
    }
    .hr{
        margin-bottom: 64px;
    }
    .list{
        display: inline;
    }
    .text_rights{
        margin-top: 32px;
        margin-left: 0;
    }
    .fut{
        display: flex;
        justify-content: center;
    }
    .full_footer{
        padding-top: 18px;
        padding-bottom: 32px;
    }
}